.customer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    animation: moveRight 2s;
}

.customer-grid {
    display: grid;
    grid-template-columns: 16% 83%;
    grid-column-gap: 1%;
}

.customer-card,
.moments-card,
.history-card,
.products-card,
.cross-sell-card,
.payments-card,
.feedback-card {
    border-radius: 7px;
    background-color: $white-color;
    border: 1px solid rgba(92, 92, 92, 0.2);
}

.customer-card {
    font-size: 13px;
    text-align: center;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer-card img {
    padding-bottom: 1rem;
}

.customer-card p {
    padding: 0;
    margin: 0;
}

.moments-card-header {
    display: flex;
    justify-content: space-between;
}

.moments-card-header {
    padding-right: 20px;
}

.btn-primary-custom {
    background-color: #fd9c00;
    color: $white-color;
}

.btn-primary-custom:hover {
    background-color: #bd7503;
    color: $white-color;
}

.moments-card h3, .card-title h3{
    color: $text-color;
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.moments {
    display: flex;
    align-items: flex-start;
}

.moment {
    width: 14%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 5px;
}

.moment-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(86, 108, 214, .15);
    background-color: #00A877;
}

.moment-icon-outline {
    background-color: #c0c0c0;
}


.moment h5, .history-row-card h5, .progress-container h5{
    font-size: 14px;
    margin-top: 14px;
    padding: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.moment p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.moment:hover {
    box-shadow: 2px 2px 10px rgba(86, 108, 214, .15);
    
}

/* Data history */
.data-grid {
    display: grid;
    grid-template-columns: 16% 62% 20%;
    grid-column-gap: 1%;
    margin-top: 2%;
}

.history-card {
}

.history-card-data {
    padding-bottom: 15px;
}
.history-row-card {
    padding: 0 15px;
}

.history-row-card label {
    margin-top: 20px;
}


.payments-card-data {
    padding: 0 10px;
    padding-bottom: 10px;
    margin-top: 60px;

}

.products {
    display: flex;
    margin-top: 20px;
}

.products-card {
    width: 60%;
}

.feedback-card {
    margin-left: 20px;
    width: 40%;
}


.satisfaction {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.emogis {
    display: flex;
}

.emogis div{
    margin: 0 5px;
}


.rating-container {
    padding: 20px 20px;
}

.raiting-stars {
    display: flex;
    margin-top: -10px;
}

.comments {
    padding: 20px 20px;
}



.products-card-data {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 15px;
}
/*Scrollbar hiden */
/*
.products-card-data::-webkit-scrollbar {
    width: 0px;
}

.products-card-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 006pxrgba(0, 0, 0, 0.1);
}

.products-card-data::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: 1px solid transparent;
}
*/
.product {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-radius: 10px;
	//background: linear-gradient(to left, #2E314A, #00A877);
    background: linear-gradient(182.03deg, #00A877 -7.07%, #0D3140 102.44%);
    color: $white-color;
    margin: 0 20px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 120px;
    h5 {
        font-size: 18px;
        font-weight: normal;
    }
    p {
        font-size: 14px;
        color: #dadada;
    }
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 1rem;
    p {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
}

.product-icon {
    display: flex;
}

.product-icon div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(168, 168, 168, 0.4);
}

.product-icon div:first-child {
    background: rgba(168, 168, 168, 0.4);
    margin-right: -10px;
}

.cross-sell-card {
    display: flex;
    flex-direction: column;

}

.progress-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}



/* Responsive */
@media only screen and (max-width: 1000px) {

    .customer-grid {
        grid-template-columns: 30% 69%;
        grid-column-gap: 1%;
    }

    .moments {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-items: center;
        padding-bottom: 18px;
    }

    .moment {
        width: 80%;
        margin: 4px;
        border-radius: 5px;
        padding: 20px 0;
    }


}

@media only screen and (max-width: 900px) {
    .data-grid {
        grid-template-columns: 30% 68%;
    }
}

@media only screen and (max-width: 700px) {

    .customer-grid {
        grid-template-columns: 1fr;
        grid-column-gap: 1%;
    }

    .moments {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        justify-items: center;
    }

    .customer-card {
        padding: 20px 20px;
        margin-bottom: 20px;
    }

    .moments-card-header {
        align-items: center;
        box-shadow: 2px 2px 10px rgba(86, 108, 214, .15);

    }

    .products {
        display: initial;
    }
    .products-card {
        width: 100%;
        margin-top: 20px;
    }
    .feedback-card {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .products-card-data {
        overflow: scroll;
        width: auto;
    }

    .product {
        min-width: 290px;
    }

    .products-card-data h5 {
        font-size: 20px;
    }


}

@media only screen and (max-width: 600px) {

    .customer-grid {
        grid-template-columns: 1fr
    }

    .moments {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
    }

    .moments-card h3, .card-title h3{
        font-size: 1.1rem;
    }

    .data-grid {
        grid-template-columns: 1fr;
    }

    .products-grid {
        grid-template-columns: 1fr;
    }

}


@media only screen and (max-width: 375px) {
    .product {
        min-width: 260px;
    }

    .product-header {
        height: 80px;
    }

    .products-card-data h5 {
        font-size: 16px;
    }

    .products-card-data p {
        font-size: 14px;
    }

    .product-footer h4 {
        font-size: 16px;
    }
    .satisfaction h5 {
        font-size: 14px;
    }
    .rating-container p, .comments label {
        font-size: 12.8px;
    }

}

@media only screen and (max-width: 320px) {
    .product {
        margin: 0 4px;
    }
    .products-card-data {
        width: 230px;
    }

    .product-header {
        height: 80px;
    }

    .products-card-data h5 {
        font-size: 14px;
    }

    .products-card-data p {
        font-size: 12px;
    }

    .product-footer h4 {
        font-size: 14px;
    }
}