.toggle__main {
    position: absolute;
    right: 1px;
    width: 40%;
    height: auto;
    background-color:#fff;
    box-shadow: 0 0 1px #a7a7a7;
    //border: 1px solid rgba(92, 92, 92, 0.2);
    padding: 8px;
    z-index: 150;
    border-radius: 5px;
    box-shadow: 2px 2px 18px rgba(86, 108, 214, .50);
    animation: moveUp 1s;
}


.toggle__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
}

.toggle__footer {
    display: flex;
    justify-content: flex-start;
}

.toggle__footer {

    .btn-primary-custom {
        width: 120px;
        background-color: #fd9c00;
        border: none;
        color: $white-color;
        margin-right: 10px;
        &:hover{
            background-color: #bd7503;
            color: $white-color;

        }
    }

    .custom-btn-primary span {
        padding-right: 10px;
    }
}


@media (max-width: 768px)  {
    .toggle__main {
        position:fixed;
        right: 1px;
        width: 60%;
    }
}

@media (max-width: 480px)  {
    .toggle__main {
        position: absolute;
        right: 1px;
        width: 100%;
        margin-top: -34px;
    }
}

@media only screen and (max-width: 375px) {
    .btn-primary-custom {
        font-size: 14px;
    }
}
